.fadeIn {
  animation: 1.5s ease-out fadeIn 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation: 1.5s ease-out fadeInDown 1;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation: 1.5s ease-out fadeInLeft 1;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation: 1.5s ease-out fadeInRight 1;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation: 1.5s ease-out fadeInUp 1;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


.upDown {
  animation-name: upDown;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

@keyframes upDown {
  0% {
    top: 0px;
  }

  50% {
    top: 200px;
  }

  100% {
    top: 0px;
  }
}

.upDown {
  animation-name: upDown;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}